*{
	margin: 0;
	padding: 0;

}


.left{
	float: left;
	width: 18%;
	background-color: #f2f4f6;
	position: fixed;
	color: #212529;
	height: 100vh;
}
.wrap-right{
	width: 82%;
	float: right;
}
.right{
	float: right;
	width: 30%;
	background-color: #f2f4f6;
	height: 100vh;
}
.content{
	float: left;
	width: 63%;
	color: #212529;
	margin: auto 3%;
	position: relative;
}

.footer{
	clear: both;
	height: 300px;
	width: 100%;
	background-color:  #005b9a;
	color: white;
}

.navbar-header, .navbar-nav, .navbar-nav>li{
	float: none;
}
.navbar-collapse{
	margin-top: 25vh;
}
.navbar-inverse{
	border: none;
}
.navbar{
	border-radius: unset;
}
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand{
	color: #212529;
}
.video-intro{
	width: 100%;
}
#video-footer{
	width: 260px;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
	background-color: unset;
	font-size: 16px;
	font-weight: 700;
	color: black;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a{
	color: #444;
	font-family: 'Montserrat', sans-serif !important;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
	color: black;
}
#bsa{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif !important;
}
#bsaa{
	text-align: center;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif !important;
}

#title{
	color: blue;
	font-size: 15px;
}
#big-title{
	color: #C7202d;
	font-size: 22px;
}
.lion{
	width: 100%;
	height: 280px;
	background-image: url(../images/Picture1.jpg);
	background-size: contain;
	background-repeat: no-repeat;
}
.lion:after{
	clear: both;
	content: ".";
	visibility: hidden;
}
.signup{
	border:  solid 1px;
	border-radius: 8px;
	height: 280px;
	width: 250px;
	position: absolute;
	top: 50px;
	right: 15px;
	font-size: 14px;
	background-color: white;
}

.cost{
	font-size: 16px;
	color: blue;
}
.signup-btn{
	height: 30px;
	width: 80%;
	margin: 10px auto 0;
	display: block;
	background-color: #c0504d;
	border-radius: 5px;
	border: solid 1px black;
	color: white;
}
.list{
	color: #C7202d;
	margin-top: 10px;
}
.list p{
	margin: 0px;
}
.content-tags{
	background-color: #0089ef;
	height: 40px;
	clear: both;
	color: white;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	border: solid 1px #4f81bd;
	margin: 20px auto;
}
.content-tags:after{
	clear: both;
	content: ".";
	visibility: hidden;

}
.content-info{
	padding-left: 15px;
	padding-right: 15px;
}
.bold-content{
	font-size: 18px;
	font-weight: 700;
	margin: 15px auto;
}
.content-table, .content-table tr, .content-table td{
	border: solid 1px;
	padding: 6px;
}
.content-table td:nth-child(2), .content-table td:nth-child(3){
	width: 100px;
	text-align: center;
}

 .object{
 	margin: 15px;
 }
.wrap-voice{
	display: block;
	margin: auto;
}
 .voice{
 	border: solid 1px;
 	border-radius: 10px;
 	margin: 5px 0 5px 30px;
 	height: auto;
 }

 .avatar{
 	float: left;
 	margin-right: 15px;
 }
 .row-info{
 	margin: 30px auto;
 }
 .row-info div p{
 	padding: 15px 0;
 }
 .under-table:after{
	clear: both;
	content: ".";
	visibility: hidden;
 }
.signup-contact{
	border: solid 1px;
	border-radius: 10px;
	width: 70%;
	display: block;
	margin: 0 auto 20px; ;
	padding: 15px;
}
.bt{
	width: 80%;
	height: 40px;
	margin-top: 15px;
	border: solid 1px ;
	border-radius: 8px;
	color: white;
}